@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #e6ddd1;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 390px;
    height: 90%;
    background-color: #fff;
    padding: 35px 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
}

.login-card::before {
    content: "";
    position: absolute;
    left: 0;
    margin-top: -35px;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #7b580097, #CC9B2E, #7b580097);
    border-radius: 10px 10px 0 0;
}

.logo {
    width: 80px;
    margin: 0 auto 15px auto;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #2d2d2d;
    margin-top: 0;
    margin-bottom: 5px;
}

.cargo {
    text-align: center;
    color: #3f3f3f;
    font-size: 16px;
    margin-bottom: 35px;
    margin-top: 0;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.input-group label {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 15px;
    color: #1d1d1d;
    margin-bottom: 5px;
    text-align: left;
}

.input-group input {
    width: 100%;
    height: 46px;
    padding: 0 15px;
    background-color: #ffffff;
    border: 1.4px solid #D8BA78;
    border-radius: 8px;
    color: #444;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.esqueceu {
    text-align: right;
    text-decoration: none;
    color: #a97f2b;
    font-size: 13px;
    font-weight: 600;
    margin-top: -10px;
    margin-bottom: 30px;
}

button {
    width: 100%;
    height: 42px;
    border: none;
    border-radius: 12px;
    background-color: #1f1f21;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #303030;
}