@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-beige: #EFE8DC;
  --color-beige-dark: #DFD5C5;
  --color-gold: #A38A4B;
  --color-gold-light: #C4AD6B;
  --color-sidebar-bg: #FFFFFF;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #EFEBE4; /* Cor de fundo creme da sua imagem */
}
